<% if(productos.length !== 0) { %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> <th>id</th> <th>producto</th> <th>precio</th> <th>url</th> </tr>
           <% for (const producto in productos ) { %>
            <tr>
                <td> <%= productos[producto].id %> </td>
                <td> <%= productos[producto].producto %> </td>
                <td> <%= productos[producto].precio %> </td>
                <td> <%= productos[producto].url %></td>
            </tr>
            <% } %>
        </table>
    </div>
<% } else{ %> 
   <h3 style="color: black">no existen datos</h3>
<% }%>