<header>
    <%- include('./partials/encabezado.ejs') %>
</header>
<body>
  <div class="container mt-3">
    <div class="jumbotron">
      <h1 style="color: blue">Ingrese datos</h1>
      <br />

      <form action="/productos" method="post">
        <div class="form-group">
          <label for="producto"><b>Producto</b></label>
          <input id="producto" class="form-control" type="text" name="producto" />
        </div>

        <div class="form-group">
          <label for="precio"><b>Precio</b></label>
          <input
            id="precio"
            class="form-control"
            type="number"
            name="precio"
          />
        </div>

        <div class="form-group">
          <label for="url"><b>URL</b></label>
          <input id="url" class="form-control" type="text" name="url" />
        </div>

        <button class="btn btn-success mt-3 mb-5">Enviar</button>
      </form>

      <h2 style="color: crimson">Historial</h2>
      <%- include('./partials/tabla.ejs',  productos) %>
    </div>
  </div>
</body>
<%- include('./partials/pie.ejs') %>